body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  transition: 0.25s ease;
}

.to-do-list {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1rem;
  margin-right: 5px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  padding: 2px 8px;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-btn {
  padding: 2px 8px;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(10, 71%, 41%);
}
.delete-btn:hover {
  background-color: hsl(10, 90%, 40%);
}
.up-btn {
  padding: 2px 8px;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(64, 72%, 44%);
}
.up-btn:hover {
  background-color: hsl(64, 72%, 34%);
}
.down-btn {
  padding: 2px 8px;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(241, 70%, 49%);
}
.down-btn:hover {
  background-color: hsl(241, 76%, 30%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 5px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 2px;
}

.to-do-list ol {
  padding: 0;
}
.to-do-list li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsla(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}

.clock-container {
  backgrop-filter: blur(5px);
  padding: 10px;
}

.clock {
  color: black;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}
